*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:"Signika Negative";
}
body{
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 25px;
 background-color: rgb(33, 31, 31);
}
.left , .right , .medium{
 width: 350px;
min-height: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 15px;
 border: 3px dashed lawngreen;
 color: white;
 padding: 5px;
}
.container{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 5px;
}
.name{
 height: 50px;
 width: 345px;
 background-color: rgb(127, 88, 219);
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 80px;
 padding: 5px;
 color: #fff;
}
.box{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 325px;
 height: 50px;
 background-color: rgb(83, 148, 18);
 border:2px dashed #fff;
 cursor: pointer;
}
.btn{
 position: relative;
 bottom: 0 !important;
}